/* global related style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
/* global related style end */

/* banner related style start */
.banner-container {
  margin: 0px auto;
  padding: 20px 0px;
  background-image: url("../images/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img {
  display: block;
  margin: 0px auto;
}

.banner-heading {
  color: #0d1321;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  padding-top: 20px;
}

.banner-description {
  color: #0d1321;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0px;
}

.banner-button {
  display: block;
  margin: auto;
  padding: 21px 24px;
  color: #fff;
  background: #0d1321;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
}
/* banner related style end */

/* development related style start */
.development-container {
  margin-top: 154px;
}

.development-heading {
  color: #0d1321;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}

.development-description {
  color: #0d1321;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}

.w-50 {
  width: 50%;
}

.why {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 470px;
}

.why-heading {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}

.why-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}

.why-button {
  border: 1px solid #0d1321;
  opacity: 0.7;
  padding: 12px 20px;
  color: #0d1321;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
/* development related style end */

/* inspiration related style start */
.inspiration-container {
  padding-top: 100px;
}

.inspiration-heading {
  color: #0d1321;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}

.inspiration-desctiption {
  color: #0d1321;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}

.jhankar-video {
  display: block;
  margin: 0px auto;
  padding-top: 20px;
}
/* inspiration related style end */

/* current target related style start */
.ct-container {
  padding-top: 100px;
}

.category-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 48px;
}

.ct-box {
  width: 364px;
  height: 299px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

#html-box {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

#css-box {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}

#js-box {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

.ct-heading {
  color: #0d1321;
  font-size: 24px;
  font-weight: 800;
}

.ct-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}

.ct-btn {
  color: #0d1321;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
  padding: 20px 0px;
}
/* current target related style end */

/* contact related style start */
.contact-container {
  width: 1140px;
  padding: 64px 48px;
  background-image: url("../images/contact-bg.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.contact-heading {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.contact-desctiption {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}

input {
  padding: 20px;
  margin-top: 20px;
  margin-left: 245px;
  margin-right: -100px;
}
/* contact related style end */
